<div class="QLY-list-box">
  <div class="QLY-ul-box">
    <div class="QLY-item">
      <span class="QLY-logo">这里是{{id}}</span>
      <div class="QLY-pull-right">
        <span class="QLY-price">价格调整</span>
        <span class="QLY-taoword">淘词</span>
      </div>
    </div>

    <div class="QLY-item">
      下架: {{offSaleTime}}
    </div>

    <div class="QLY-item">
      搜索词: 淘宝(<i class="QLY-i QLY-taobaosearch">{{zrssKeywordNum}}</i>)
    </div>

    <div class="QLY-item">
      无线端: 搜索(<i class="QLY-i QLY-msearch">{{zrssMKeywordNum}}</i>)
      直通车(<i class="QLY-i QLY-mztc">{{ztcKeywordNum}}</i>)
    </div>
  </div>
</div>